* {
    font-family: Arial, Helvetica, sans-serif;
    
}


body{
    background-image: url(../imagens/pattern004.png);
    background-color: rgb(238, 209, 154);
    background-attachment: fixed;
    
    
}

h1{
    text-align: center;
    background-image: linear-gradient(90deg, rgb(240, 175, 114),rgb(235, 204, 168));
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.288);
}

h2{
    background-image: linear-gradient(90deg, rgb(240, 175, 114),rgb(235, 204, 168));
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.288);
}

h3{
    background-image: linear-gradient(90deg, rgb(240, 175, 114),rgb(235, 204, 168));
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.288);
}


p{
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 1em;
}
#foto{
    border-radius: 30%;
    margin: auto;
    display: block; 
    padding: 20px;
}


main{
    background-color: rgba(255, 255, 255, 0.719);
    margin: auto;
    text-align: justify;
    max-width: 700px;
    min-width: 250px;
    padding: 10px;
    border-radius: 10px;
    color: black;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.295);
   
}

a{
    color: rgb(53, 53, 250);
    font-weight: bold;
}

.imagem{

    width: 20%;
    margin: 5px;
    padding: px;
    border-radius: 40%;
    transition-duration: 0.3s;
    box-sizing: border-box;
    
    
}
.imagem:hover{
    padding: px;
    box-shadow: -5px  5px 10px rgba(0, 0, 0, 0.288) ;
    transform: translate(3px, -5px);
    
    
}



footer{
    background-color: rgba(255, 255, 255, 0.719);
    margin: auto;
    text-align: justify;
    max-width: 700px;
    min-width:250px;
    padding: 10px;
    border-radius: 10px;
    color: black;
    
}